nav {
    margin-bottom: 70px;
    min-height: 80px;
    box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.1);

    h1 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 20px;
        max-width: 600px;
        display: block;
        margin-left: 0;
        margin-right: auto;
        margin-top: 20px;

        @media (max-width: 990px) {
            margin-left: auto;
        }

    }

    .btn-modal {
        margin-left: 10px;
        @media (max-width: 988px) {
            margin-bottom: 10px;
            margin-left: 0;
        }
    }
}

.navbar-brand {
    font-size: 30px;
    margin-right: 60px;
}

