.table-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    overflow: scroll;

    @media (max-width: 480px) {
        display: block;
        margin: 0 auto;
    }

    table {
        max-width: 1000px;
        box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.1);
        background-color: #fff;

        .delete-btn-wrapper {
            text-align: center;
            svg {
                cursor: pointer;
                height: 25px;
                width: 25px;
            }
        }
    }
}

.table-container::-webkit-scrollbar {
    display: none;
}